@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your styles.css or Tailwind config file */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }